.RI-wrapper {
  background-color: #090a0b;
  min-height: 932px;
  min-width: 430px;
  position: relative;
  width: 100%;
}

.RI-wrapper .rechteck-17 {
  background-color: #090a0b;
  box-shadow: 0px 3px 6px #00000029;
  height: 91px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.RI-wrapper .rechteck-18 {
  background-color: #090a0b;
  bottom: 0;
  box-shadow: 0px 3px 6px #00000029;
  height: 90px;
  left: 0;
  position: fixed;
  width: 100%;
}

.RI-wrapper .gruppe-16 {
  display: block;
  height: 28px;
  left: 42px;
  position: fixed;
  top: 31px;
  width: 308px;
}

.RI-wrapper .text-wrapper-40 {
  bottom: calc(35.11% - 5px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  white-space: nowrap;
  width: 139px;
}

.RI-wrapper .text-wrapper-41 {
  bottom: calc(32.62% - 5px);
  color: #a59342;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  right: -2px;
  white-space: nowrap;
  width: 91px;
}

.RI-wrapper .schalter-7 {
  background-color: #fae5ba;
  border-radius: 22px;
  display: flex;
  height: 100%;
  position: absolute;
  right: calc(40.77% - 26px);
  top: 0;
  width: 63px;
}

.RI-wrapper .uncheck-8 {
  background-color: #a59342;
  border: 1px solid;
  border-color: #707070;
  border-radius: 11.81px;
  box-shadow: inset 3px 3px 2px #00000029;
  flex: 1;
  margin-bottom: 2.5px;
  margin-left: 36.1px;
  margin-right: 3.5px;
  margin-top: 2px;
  width: 23.63px;
}

.RI-wrapper .NS-dok-logo-8 {
  background-image: url(/BDWebAnima-React/img/gruppe-165-7.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: 29px;
  height: 34px;
  left: 33px;
  position: fixed;
  width: 45px;
}

.RI-wrapper .text-wrapper-42 {
  bottom: 26px;
  color: #fae5ba;
  display: block;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: fixed;
  right: 38px;
  text-align: right;
  white-space: nowrap;
  width: 58px;
}

.RI-wrapper .text-wrapper-43 {
  bottom: 50px;
  color: #fae5ba;
  display: block;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: fixed;
  right: 38px;
  text-align: right;
  white-space: nowrap;
  width: 68px;
}

.RI-wrapper .rechteck-19 {
  background-color: #42435f;
  height: calc(100% - 181px);
  left: 0;
  position: absolute;
  top: 91px;
  width: 100%;
}

.RI-wrapper .a-2 {
  height: calc(100% - 181px);
  left: 0;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 91px;
  width: 100%;
}

.RI-wrapper .pfad-14 {
  height: 65px;
  object-fit: cover;
  position: absolute;
  right: 31px;
  top: 110px;
  width: 116px;
}

.RI-wrapper .pfad-15 {
  height: 65px;
  object-fit: cover;
  position: absolute;
  right: calc(37.59% - 32px);
  top: 105px;
  width: 86px;
}

.RI-wrapper .pfad-16 {
  height: 62px;
  left: calc(37.99% - 39px);
  object-fit: cover;
  position: absolute;
  top: 108px;
  width: 102px;
}

.RI-wrapper .pfad-17 {
  height: 120px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: calc(23.11% - 28px);
  width: 68px;
}

.RI-wrapper .pfad-18 {
  height: 126px;
  object-fit: cover;
  position: absolute;
  right: calc(42.16% - 124px);
  top: calc(18.88% - 24px);
  width: 295px;
}

.RI-wrapper .buchen-als-3 {
  color: #fae5ba;
  display: block;
  font-family: "Ubuntu", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  right: calc(16.79% - 10px);
  top: calc(14.44% - 3px);
  white-space: nowrap;
  width: 58px;
}

.RI-wrapper .text-wrapper-44 {
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 13px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  right: calc(39.91% - 14px);
  top: calc(14.21% - 2px);
  white-space: nowrap;
  width: 36px;
}

.RI-wrapper .buchen-als-gruppe-3 {
  color: #fae5ba;
  display: block;
  font-family: "Ubuntu", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 24px;
  left: calc(38.74% - 21px);
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: calc(13.70% - 3px);
  white-space: nowrap;
  width: 53px;
}

.RI-wrapper .gruppe-17 {
  height: 57px;
  left: 29px;
  position: absolute;
  top: 129px;
  width: 98px;
}

.RI-wrapper .pfad-19 {
  height: calc(100% + 18px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: calc(100% + 18px);
}

.RI-wrapper .text-wrapper-45 {
  bottom: calc(47.24% - 6px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 13px;
  left: calc(34.25% - 23px);
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  white-space: nowrap;
  width: 67px;
}

.RI-wrapper .text-wrapper-46 {
  color: #42435f;
  font-family: "Ubuntu", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 13px;
  left: calc(49.01% - 15px);
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: calc(20.08% - 3px);
  white-space: nowrap;
  width: 30px;
}

.RI-wrapper .pfad-20 {
  bottom: 100px;
  height: 530px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  width: calc(100% - 29px);
}

.RI-wrapper .text-wrapper-47 {
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 54px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  right: calc(45.21% - 143px);
  top: calc(37.70% - 20px);
  width: 317px;
}

.RI-wrapper .nach-einer-globalen {
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 132px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  right: calc(45.21% - 143px);
  top: calc(49.50% - 65px);
  width: 317px;
}

.RI-wrapper .im-inselrat {
  bottom: calc(35.76% - 33px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 93px;
  left: calc(48.37% - 146px);
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  width: 302px;
}

.RI-wrapper .wie-sehen-sie-ihre {
  bottom: calc(22.15% - 23px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 106px;
  left: calc(49.93% - 153px);
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  width: 306px;
}
