.BD-wrapper {
  background-color: #090a0b;
  min-height: 932px;
  min-width: 430px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.BD-wrapper .wiederholungsraster-3 {
  align-items: flex-end;
  display: flex;
  height: 100%;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
}

.BD-wrapper .auto-flex-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -160px;
  min-height: 1092px;
  width: 427px;
}

.BD-wrapper .div-3 {
  background-image: url(../../../static/img/waves-01-4.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 364px;
  width: 427px;
}

.BD-wrapper .rechteck-5 {
  background-color: #090a0b;
  box-shadow: 0px 3px 6px #00000029;
  height: 91px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.BD-wrapper .rechteck-6 {
  background-color: #090a0b;
  bottom: 0;
  box-shadow: 0px 3px 6px #00000029;
  height: 90px;
  left: 0;
  position: fixed;
  width: 100%;
}

.BD-wrapper .gruppe-6 {
  display: block;
  height: 28px;
  left: 42px;
  position: fixed;
  top: 31px;
  width: 308px;
}

.BD-wrapper .text-wrapper-10 {
  bottom: calc(35.11% - 5px);
  color: #a59342;
  font-family: "Ubuntu", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  white-space: nowrap;
  width: 139px;
}

.BD-wrapper .text-wrapper-11 {
  bottom: calc(32.62% - 5px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  right: -2px;
  white-space: nowrap;
  width: 91px;
}

.BD-wrapper .schalter-2 {
  background-color: #fae5ba;
  border-radius: 22px;
  display: flex;
  height: 100%;
  position: absolute;
  right: calc(40.77% - 26px);
  top: 0;
  width: 63px;
}

.BD-wrapper .uncheck-3 {
  background-color: #a59342;
  border: 1px solid;
  border-color: #707070;
  border-radius: 11.81px;
  box-shadow: inset 3px 3px 2px #00000029;
  flex: 1;
  margin-bottom: 2.5px;
  margin-left: 2.1px;
  margin-right: 37.5px;
  margin-top: 2px;
  width: 23.63px;
}

.BD-wrapper .NS-dok-logo-3 {
  background-image: url(../../../static/img/gruppe-165-4.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: 29px;
  height: 34px;
  left: 33px;
  position: fixed;
  width: 45px;
}

.BD-wrapper .text-wrapper-12 {
  bottom: 26px;
  color: #fae5ba;
  display: block;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: fixed;
  right: 38px;
  text-align: right;
  white-space: nowrap;
  width: 58px;
}

.BD-wrapper .spielaleitung-3 {
  bottom: calc(43.27% - 11px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  height: 26px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  right: calc(20.00% - 14px);
  text-align: right;
  white-space: nowrap;
  width: 70px;
}

.BD-wrapper .ergebnis-beitr-ge-2 {
  bottom: calc(43.27% - 11px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  height: 26px;
  left: calc(19.47% - 10px);
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  white-space: nowrap;
  width: 50px;
}

.BD-wrapper .text-wrapper-13 {
  bottom: 50px;
  color: #fae5ba;
  display: block;
  font-family: "Ubuntu", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: fixed;
  right: 38px;
  text-align: right;
  white-space: nowrap;
  width: 68px;
}

.BD-wrapper .gruppe-7 {
  background-image: url(../../../static/img/pfad-201-1.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: calc(27.38% - 23px);
  height: 83px;
  position: absolute;
  right: calc(49.68% - 102px);
  width: 205px;
}

.BD-wrapper .text-wrapper-14 {
  bottom: calc(46.46% - 12px);
  color: #fae5ba;
  font-family: "Ubuntu", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 25px;
  left: calc(44.56% - 53px);
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 118px;
}

.BD-wrapper .k-nigin-luise-schule-wrapper {
  background-image: url(../../../static/img/gruppe-159.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: calc(100% - 169px);
  left: 42px;
  position: absolute;
  top: 85px;
  width: calc(100% - 82px);
}

.BD-wrapper .k-nigin-luise-schule {
  color: #fae5ba;
  flex: 1;
  font-family: "Ubuntu", Helvetica;
  font-size: 20px;
  height: 49px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 35px;
  margin-right: 33px;
  margin-top: 31.5px;
  text-shadow: 0px 3px 6px #000000cc;
}

.BD-wrapper .span {
  font-family: "Ubuntu", Helvetica;
  font-style: italic;
  font-weight: 700;
}

.BD-wrapper .text-wrapper-15 {
  font-family: "Ubuntu", Helvetica;
  font-style: italic;
  font-weight: 400;
}

.BD-wrapper .polygon-2 {
  height: 18px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 16px;
}

.BD-wrapper .polygon-3 {
  display: block;
  height: 18px;
  object-fit: cover;
  position: absolute;
  right: 12px;
  top: calc(50.00% - 9px);
  width: 16px;
}
